/*
ul {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  
}

  display: inline;
  float: right;
  display: block;
  padding: 10px;
}*/
body{
  background-color: dodgerblue;
}
header {
  color: black;
  background-color: gray;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav > a {
text-decoration: none;
}

.center {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
p{
  color: crimson;
  font-size: xx-large;
  font-weight: bold;
  font-family: fantasy;
}
.about{
    text-align: center;
    border-top: 3px solid;
    border-radius: 5px;
}
#header1{
  text-align: center;
  font-size: 50px;
}
