ul {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  
}
li{
  display: inline;
  float: right;
  display: block;
  padding: 10px;
}
nav {
  color: black;
  background-color: gray;
  /* position: fixed; Set the navbar to fixed position */
  /* top: 0; Position the navbar at the top of the page */
  width: 100%; /* Full width */
}
body{
  background-color: dodgerblue;
}
.center {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
p{
  color: crimson;
  font-size: xx-large;
  font-weight: bold;
  font-family: fantasy;
}
.about{
    text-align: center;
    border-top: 3px solid;
    border-radius: 5px;
}
#header1{
  text-align: center;
  font-size: 50px;
}
